body {
    height: 100vh; 
    margin: 0 auto;
    color: white;
    background-color: black;
}

#content {
    opacity: 0;               
    transition: opacity 4s ease; 
    padding-top: 2.5rem;
    width: min(400px, 90%);
    margin: 0 auto; 
    text-align: center;
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 90vh; 
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease; /* smooth fade when active */
}
.slide.active {opacity: 1;}

button.prev,
button.next {
  background-color: rgba(0,0,0,0.1);
  color: white;
  border: none;
  font-size: 0.625rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover { background-color: rgba(0,0,0,0.8); }

.slideshow {
  position: fixed; 
  inset: 0;
  overflow: hidden;
  z-index: -1; 
}
.slide1 { background-image: url("piano_dimmed.jpg") }
.slide2 { background-image: url("surf_less_exposure.jpeg") }

h1 { 
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.825rem;
    width: calc(100% + 0.825rem);
    font-size: 2.25em;
    line-height: 1.375;
    font-weight: 700;
    margin-block-end: 1rem;
}
p { 
    justify-content: center;
    gap: 0.625rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 0.225rem;
    margin-right: -0.225rem;
    /* font-size: 0.625em; */
    font-size: 0.7em;
    font-weight: 700;
}

a { color: white }
