body {
    height: 100vh; 
    margin: 0 auto;
    color: white;
    background: url("surf_less_exposure.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.content {
    padding: 3em;
    width: 400px;
    margin: 0 auto; 
    text-align: center;
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 85vh; 
}

h1 { 
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.825rem;
    width: calc(100% + 0.825rem);
    font-size: 2.25em;
    line-height: 1.375;
    font-weight: 700;
}
p { 
    justify-content: center;
    gap: 0.625rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 0.225rem;
    margin-right: -0.225rem;
    /* font-size: 0.625em; */
    font-size: 0.7em;
    font-weight: 700;
}

a { color: white }
